<html>
<title>UberVoice</title>

<head>
<script src="/lib/jquery/jquery.js"/>
<script src="/lib/bootstrap/bootstrap.js"></script>
<link href="/lib/bootstrap/bootstrap.css" rel="stylesheet"/>

<script>
function save(){

  var data = {
    address:$('#address').val(),
    city:$('#city').val(),
    state:$('#state').val(),
    zipcode:$('#zipcode').val(),
  };

  $.post('/updateUserInfo',data,function(result){
    console.log('Response from server was: '+result);
  });

}
</script>

</head>

<div class="container">

  <div class='row'>
    <h2>UberVoice</h2>
    Logged in with your Uber account<p>
  </div>

  <div class='row'>
    <h3>Pairing</h3>
    <% if(code) { %>
    Your setup code is <%= code %><p>
    Say "Alexa, launch uber and setup with code <%= code %>"
    <% } %>

  </div>

  <div class="row">

    <h3>Address to have Uber go to</h3>
     <form class="form-horizontal">

            <fieldset>

                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label">Street</label>
                    <div class="controls">
                        <input id="address" name="address" type="text" placeholder="street address"
                        class="input-xlarge" value='<%= street_address %>' >
                    </div>
                </div>

                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge" value='<%= city_address %>' >
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State</label>
                    <div class="controls">
                        <input id="state" name="state" type="text" placeholder="state"
                        class="input-xlarge" value='<%= state_address %>' >
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip</label>
                    <div class="controls">
                        <input id="zipcode" name="zipcode" type="text" placeholder="zip code"
                        class="input-xlarge" value='<%= zipcode_address %>' >
                        <p class="help-block"></p>
                    </div>
                </div>
            </fieldset>
        </form>

        <button type="submit" class="btn btn-primary" onclick="save()">Save</button>
  </div>





</html>
