<html>
<title>UberVoice</title>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<script src="/lib/jquery/jquery.js"/>
<script src="/lib/bootstrap/bootstrap.js"></script>
<link href="/lib/bootstrap/bootstrap.css" rel="stylesheet"/>

<script>
function save(){

  var data = {
    address:$('#address').val(),
    city:$('#city').val(),
    state:$('#state').val(),
    zipcode:$('#zipcode').val(),
  };

  $.post('/updateUserInfo',data,function(result){
    console.log('Response from server was: '+result);
  });

}
function unlink(){
  $.post('/unlink',function(result){
    console.log('Response from server was: '+result);
    location.reload();
  });
}

</script>

</head>

<div class="container">

  <div class='row'>
    <h2>UberVoice</h2>

  </div>

  <div class='row'>
    <h3>Pairing</h3>

    <% if(pairedStatus) { %>
      <p class="text-success">Your Uber account is paired with your Amazon Echo</p>
      <button class="btn btn-danger" onclick='unlink()'>Unlink account</button>
    <% } else { %>
      <p class="text-info">Pair your Amazon Echo by saying "Alexa, launch Uber and setup with code <%= setupCode %>"</p>
    <% } %>

  </div>

  <div class="row">

    <h3>Address</h3>
    This is the address the Uber will be sent to
     <form class="form-horizontal">

            <fieldset>

                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label">Street</label>
                    <div class="controls">
                        <input id="address" name="address" type="text" placeholder="street address"
                        class="input-xlarge" value='<%= street_address %>' >
                    </div>
                </div>

                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge" value='<%= city_address %>' >
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State</label>
                    <div class="controls">
                        <input id="state" name="state" type="text" placeholder="state"
                        class="input-xlarge" value='<%= state_address %>' >
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip</label>
                    <div class="controls">
                        <input id="zipcode" name="zipcode" type="text" placeholder="zip code"
                        class="input-xlarge" value='<%= zipcode_address %>' >
                        <p class="help-block"></p>
                    </div>
                </div>
            </fieldset>
        </form>

        
  </div>

  <!--div class='row'>
    <h3>Car preference</h3>

    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>

  </div--!>


  <div class='row'>
    <button type="submit" class="btn btn-primary" onclick="save()">Save</button>
  </div>

</html>
